body {
  font-family: Epilogue,'Baloo Tammudu 2', Cambria;
  background: #7F7FD5;
}

main {
  height: 90vh;
  background: linear-gradient(to top, #7F7FD5, #86A8E7, #91EAE4);
}

.loading {
  height: 15vw;
  min-height: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading-spin infinite 20s linear;
  }
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
